nav(class="navbar navbar-default")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
        span(class="sr-only")= 'Toggle navigation'
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand" href="/")= 'Inmobiliaria'
    
    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")     
      ul(class="nav navbar-nav navbar-right")
        li
          a(href="http://localhost:3000/login/registrar")= 'Registrarse'
        li
          a(href="http://localhost:3000/login/inicioSec")= 'Iniciar Sesion'
        li(class="dropdown")
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")= 'Nombre Usuario'
            span(class="caret")
          ul(class="dropdown-menu")
            li
              a(href="")= 'Perfil'
            li
              a(href="")= 'Cerrar Sesion'
            li
              a(href="")= 'Visor'
    